Dragon 2 4
XXXXX
XIXX
XICXX
XXIXX
XXXXX
Unicorn 1 3
XXXXX
XXXXX
XICXX
XXXXX
XXIXX
Griffin 3 6
XXXXX
XIXX
XICXX
XIXX
XXXXX
Troll 2 3
XXXXX
XXIIX
XICXX
XXXX
XXXXX
Pixie 1 1
XXXXX
XXIXX
XICXX
XXIXX
XXXXX
Cyclops 3 4
XXXXX
XXXXX
XICXX
XIIX
XXXXX
Minotaur 2 5
XXXXX
XXIXX
XICXX
XXIXX
XXXX
Witch 1 2
XIXX
XXXXX
XICXX
XXXXX
XXIXX
Werewolf 3 4
XXIX
XXXXX
XICXX
XXXXX
XIXX
Goblin 1 1
XXXXX
XXIXX
XICXX
XXXXX
XXXXX
Druid 2 3
XXXXX
XXXX
XICXX
XIXX
XXXXX
Wraith 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Harpy 3 4
XXXXX
XXIXX
XICXX
XXXX
XIXX
Imp 1 2
XXIXX
XXXX
XICXX
XXXX
XXIXX
Kraken 3 6
XIXX
XXXXX
XICXX
XXXXX
XIXX
Siren 2 3
XXXXX
XXXXX
XICXX
XIIX
XXXXX