Dragon 2 4
XXXXX
XXIX
XXCIX
XXIXX
XXXXX
Unicorn 1 3
XXXXX
XXXXX
XXCIX
XXXXX
XXIXX
Griffin 3 6
XXXXX
XXIX
XXCIX
XXIX
XXXXX
Troll 2 3
XXXXX
XIIXX
XXCIX
XXXX
XXXXX
Pixie 1 1
XXXXX
XXIXX
XXCIX
XXIXX
XXXXX
Cyclops 3 4
XXXXX
XXXXX
XXCIX
XIIX
XXXXX
Minotaur 2 5
XXXXX
XXIXX
XXCIX
XXIXX
XXXX
Witch 1 2
XXIX
XXXXX
XXCIX
XXXXX
XXIXX
Werewolf 3 4
XIXX
XXXXX
XXCIX
XXXXX
XXIX
Goblin 1 1
XXXXX
XXIXX
XXCIX
XXXXX
XXXXX
Druid 2 3
XXXXX
XXXX
XXCIX
XXIX
XXXXX
Wraith 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Harpy 3 4
XXXXX
XXIXX
XXCIX
XXXX
XXIX
Imp 1 2
XXIXX
XXXX
XXCIX
XXXX
XXIXX
Kraken 3 6
XXIX
XXXXX
XXCIX
XXXXX
XXIX
Siren 2 3
XXXXX
XXXXX
XXCIX
XIIX
XXXXX